.section1{
  position: relative;
}
.hero{
  background-image: url('https://i.pinimg.com/originals/e4/28/15/e428152eecbc597a0617dc7be7c7d418.gif');
  background-repeat: no-repeat;
  filter: brightness(27%);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.herocontent{
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;

  margin-top: 150px;
  color: #fff;
}