@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
  scroll-behavior: smooth;
}

/* landing page  */
.hero-content {

  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  color: white;
  box-sizing: border-box;
}

.content-wrapper {
  max-width: 48rem;
  text-align: center;
}

.hero-title {
    font-family: 'Inter';
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1.5rem;
}

.hero-description {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.button-wrapper:hover {
  transform: scale(1.02);
}

@media (min-width: 640px) {
  .hero-title {
    font-size: 3rem;
  }

  .button-container {
    flex-direction: row;
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 3.75rem;
  }
}


.box{
  height: 400px;
  width: 300px;
  transform: rotate(-20deg);
  background-color: rgba(255, 0, 0, 0.336);

}
.box img{
  height: 100%;
  width: 100%;
}

.box:nth-child(2){
  transform: rotate(-10deg);
  background-color: rgba(0, 255, 255, 0.342);

}

.box:nth-child(3){
  transform: rotate(0deg);
  background-color: rgba(255, 228, 196, 0.288);

  
}

.box:nth-child(4){
  transform: rotate(10deg);
  background-color: rgba(137, 43, 226, 0.32);

  
}

.box:nth-child(5){
  transform: rotate(20deg);
  background-color: rgba(255, 192, 203, 0.282);

  
}

.wrap{
  width: 100%;
  display: flex;
  gap: 40px;
}

.box{
  margin-top:12%;
  position: absolute;
  left: 40%;
 
}

.side{
  margin-top: 122px;
  background-color: rgba(255, 255, 255, 0.077);
  border: 1px solid rgba(128, 128, 128, 0.465);
  color: aliceblue;
  
  
}


.hover\:bg-gray-200:hover{
  background-color: rgba(0, 0, 255, 0.383) !important;
}