@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* landing page  */
.hero-content {

  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  color: white;
  box-sizing: border-box;
}

.content-wrapper {
  max-width: 48rem;
  text-align: center;
}

.hero-title {
    font-family: 'Inter';
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1.5rem;
}

.hero-description {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.button-wrapper:hover {
  transform: scale(1.02);
}

@media (min-width: 640px) {
  .hero-title {
    font-size: 3rem;
  }

  .button-container {
    flex-direction: row;
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 3.75rem;
  }
}
